{% extends "layout.html" %}
{% set active_page = "register" %}
{% block content %}
<h1>Register form</h1>
<form method="POST" action="{{ url_for('auth.register_new_user') }}" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    {{ form.name }}
     {% for error in form.name.errors %}
      <div class="invalid-feedback">{{ error }}</div>
     {% endfor %}
     {{ form.password }}
     {% for error in form.name.errors %}
      <div class="invalid-feedback">{{ error }}</div>
     {% endfor %}
     {{ form.email }}
     {% for error in form.email.error %}
      <div class="invalid-feedback">{{ error }}</div>
     {% endfor %}
     <input type="submit" value="submit">
</form>
{% endblock %}
